*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

## NAT rewrite traffic out to the WAN
-A POSTROUTING -o {{ gateway_routing_and_nat_wan_interface }} -j MASQUERADE

## NAT port forwarding exceptions, if any (see associated FORWARD rules below)
{% for forwarding in gateway_routing_and_nat_port_forwarding %}
{% for protocol in forwarding.protocol %}
-A PREROUTING -p {{ protocol }} -m {{ protocol }} -i {{ gateway_routing_and_nat_wan_interface }} --dport {{ forwarding.port }} -j DNAT --to-destination {{ forwarding.address }}:{{ forwarding.port }}
{% endfor %}
{% endfor %}

COMMIT


*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

## Gateway Services
### basic global accept rules - ICMP, loopback, established/related all accepted
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -s 127.0.0.0/8 -d 127.0.0.0/8 -j ACCEPT
-A INPUT -p icmp -j ACCEPT

### enable traceroute rejections to get sent out
-A INPUT -p udp -m udp --dport 33434:33523 -j REJECT --reject-with icmp-port-unreachable

### Subnet Rules
{% for subnet in gateway_routing_and_nat_subnets %}
#### {{ subnet.comment }}
{% for input in subnet.allowed_inputs %}
-A INPUT -i {{ subnet.interface }} -p {{ input.protocol }} --dport {{ input.port }} -j ACCEPT
{% endfor %}

{% endfor %}

### drop all other inbound traffic
-A INPUT -j DROP


## Traffic Forwarding
### forward packets along established/related connections
-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

### allow traffic from our NAT pinholes, if any (see associated NAT rules above)
{% for forwarding in gateway_routing_and_nat_port_forwarding %}
{% for protocol in forwarding.protocol %}
-A FORWARD -p {{ protocol }} -d {{ forwarding.address }} --dport {{ forwarding.port }} -j ACCEPT
{% endfor %}
{% endfor %}

### Subnet rules
{% for subnet in gateway_routing_and_nat_subnets %}
#### {{ subnet.comment }}
-A FORWARD -i {{ subnet.interface }} -o {{ gateway_routing_and_nat_wan_interface }} -j ACCEPT

{% endfor %}

### drop all other forwarded traffic
-A FORWARD -j DROP

COMMIT
